@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
#root { 
  width: 100vw; 
  height: 100vh; 
  background: radial-gradient(#033121, #011e14 80%); 
}

.feature-card-gradient {
  background: rgba(3, 49, 33, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}

.hero-gradient {
  background: radial-gradient(#033121, #011e14 80%);
}

.card-gradient {
  background: radial-gradient(#033121, #011e14 80%);
}