@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
#root { 
  width: 100vw; 
  height: 100vh; 
  background: radial-gradient(#033121, #011e14 80%); 
}

.glass-effect {
  background: rgba(255, 255, 255, 0.06); /* Increased opacity for better visibility */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 768px) {
  .glass-effect {
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
  }
}

.glass-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.hero-gradient {
  background: radial-gradient(#033121, #011e14 80%);
}

.card-gradient {
  background: radial-gradient(#033121, #011e14 80%);
}