@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
#root { 
  width: 100vw; 
  height: 100vh; 
  background: radial-gradient(#033121, #011e14 80%); 
}


.hero-gradient {
  background: radial-gradient(#033121, #011e14 80%);
}

.feature-card-gradient {
  background: radial-gradient(#033121, #011e14 80%);
}